body{
    text-align: center;
}

.heading{
width: 100%;
text-align: left;
}

.heading h3{
display: inline;
}

.heading button{
float: right;
border-radius: 15px;
border: 1px solid white;
}

#big_img{
width: 100%;
}

#start,#Status{
font-size: 28px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h4{
background-color: white;
line-height: 2;
margin: 0px;
}

.modal-dialog{
width: 90%;
}

.intruction_img{
display: inline;
width: 45%;
}

.close:hover{
color: red;
}

video{
background:url('game_console.png');
background-size: cover;
background-position: center;
padding: 25px;
}